.jumbotron {
    background-image: url("/img/doctor1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center/center;
    height: 500px;
}

.blue {
    color: #112d4e;
}

.light-blue {
    color: #3f72af;
}
