.registration-form {
	padding: 50px 0;
}

.registration-form form{
    background-color: #3F72AF;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-radius: 30px;
    box-shadow: 10px 2px 10px #112D4E;
}

.registration-form .form-icon{
	text-align: center;
    background-color: #112D4E;
    border-radius: 50%;
    color: white;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 75px;
}

.registration-form .item{
	border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #112D4E;
    border: none;
    color: white;
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }
}