blockquote {
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 20px 20px 20px 40px;
    border-left: none;
    position: relative;
    text-indent: -19px;
}

section#block_content {
    min-height: 400px;
    padding-top: 40px;
    text-align: left;
}

blockquote p {
    font-size: 1em;
}

blockquote:before,
blockquote:after {
    font-family: Arial, serif;
    font-size: 2.5em;
    vertical-align: middle;
    line-height: 0;
}

blockquote:before {
    content: open-quote;
    margin-right: 4px;
}

blockquote:after {
    content: close-quote;
    margin-left: 3px;
}

blockquote.blockstyle,
blockquote.style2 {
    background: #fff;
    font-style: italic;
}

blockquote.blockstyle p,
blockquote.style2 p {
    display: inline;
}

blockquote.blockstyle {
    border-left: 3px solid #f0715f;
    position: relative;
}

blockquote.blockstyle > span.triangle:before {
    text-indent: 0;
    content: "\f0da";
    font-family: FontAwesome;
    color: #f0715f;
    position: absolute;
    left: -1px;
    top: 50%;
    margin-top: -11px;
    font-style: normal;
}

blockquote.blockstyle:before,
blockquote.blockstyle:after {
    color: #f0715f;
}

blockquote.blockstyle.border-color-blue {
    border-color: #01b7f2;
}

blockquote.blockstyle.border-color-blue > span.triangle:before {
    color: #01b7f2;
}

blockquote.blockstyle.border-color-yellow {
    border-color: #fdb714;
}

blockquote.blockstyle.border-color-yellow > span.triangle:before {
    color: #fdb714;
}
