body {
    padding: 0;
    margin: 0;
}
html {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #3f72af;
}

.nav-link {
    color: white;
}

.navbar-brand-text {
    font-family: "Allerta Stencil", sans-serif;
    color: white;
    font-size: 1.5em;
}

#logout_btn {
    background-color: #112d4e;
    border: none;
    &:hover {
        background-color: #dbe2ef;
        color: black;
    }
}


footer {
    background-color: #3f72af;
}
.accept-button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #16A085;
    border: none;
    color: white;
}

.accept-button:hover {
    background-color: #19bb9b  ;
}

.detail-button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #6aaaf4;
    border: none;
    color: white;
}

.detail-button:hover {
    background-color: #8bbcf5  ;
}

.reject-button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #a93636;
    border: none;
    color: white;
}

.reject-button:hover {
    background-color: #c94e4e  ;
}

.submit-button{
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #112D4E;
    border: none;
    color: white;
    margin-left: 10px;
}

.submit-button {
    border-radius: 5px; 
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #112D4E;
    border: none;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}

.submit-button:hover {
    background-color: #dbe2ef;
    color: black;
}

.margin-button-left {
    margin-left: 10px;
}
