.accept-button {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #16A085;
    border: none;
    color: white;
    margin-top: 20px;
}

.accept-button:hover {
    background-color: #19bb9b  ;
}

.detail-button {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #6aaaf4;
    border: none;
    color: white;
    margin-top: 20px;
}

.detail-button:hover {
    background-color: #8bbcf5  ;
}

.reject-button {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #a93636;
    border: none;
    color: white;
    margin-top: 20px;
}

.reject-button:hover {
    background-color: #c94e4e  ;
}

.submit-button{
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #112D4E;
    border: none;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}

.submit-button {
    border-radius: 5px; 
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #112D4E;
    border: none;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}