.greetings {
    margin-top: 6rem;

}

.schedule_of-calendar{
   display: flex;
   flex-direction: column;
    align-items:  center;
}

.animated_doctor{
    width: 40%;
    padding-bottom:2rem;
}

.animated_doctor-woman{
    width: 100%;
    padding-bottom:2rem;
}

.schedule_doctor-photo__man{
    display:flex;
    flex-direction: row-reverse;
    justify-items: stretch;
}

.schedule_doctor-photo__woman{
    display:grid;
    // flex-direction: row;
    // justify-items:end;
    grid-template-columns: 50% 10% 30%;
    >*:first-child() {
        grid-column: 1/2;
    }
    >*:nth-child(2n) {
        grid-column: 3/4;
    }
}



.doctor_picker_bubble--man{
    display: flex;
    flex-direction: column;
    //width: 50%;
}

.doctor_picker_bubble--woman {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 1fr;
    h1 {
        grid-column: 2/4;
        grid-row: 1/1;
    }
    img {
        grid-column: 1/3;
        grid-row: 1/1;
    }
    .bubble {
        margin-top: 0px;
    }
    // display: flex;
    // flex-direction: column;
    // flex-direction: row-reverse;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background: rgb(34,114,195);
    background: linear-gradient(0deg, rgba(34,114,195,1) 2%, rgba(255,255,255,1) 85%);
}


//styling of the talking bubble
p.bubble {
	position: relative;
	width: 300px;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 20px;
	font-size: large;
}

p.thought {
	width: 300px;
	border-radius: 200px;
	padding: 30px;	
}

p.bubble:before,
p.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

p.speech:before {
	left: 30px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

p.speech:after {
	left: 38px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

p.thought:before,
p.thought:after {
	left: 10px;
	bottom: -30px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #333;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

p.thought:after {
	width: 20px;
	height: 20px;
	left: 5px;
	bottom: -40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

//here it ends